# Archivos de macOS
.DS_Store
**/.DS_Store

# Variables de entorno / datos sensibles (por las dudas, no subir nunca)
.env
.env.*
*.local

# Carpetas/archivos de herramientas y editores
node_modules/
.vercel/
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
